<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .main {
        border: 1px solid #4733ff;
        border-radius: 10px;
        width: 60%;
        margin: auto;
        padding: 20px;
        font-size: 1.2rem;
      }

      .code {
        margin: auto;
        background-color: #f1eeee;
        border: 1px dashed #4733ff;
        border-radius: 5px;
        color: #4733ff;
        font-size: 1.4rem;
        font-weight: 800;
        padding: 20px;
        text-align: center;
      }
      @media only screen and (max-width: 500px) {
        .main {
          width: 100vw;
        }
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h3>You requested a password reset....</h3>
      <p>Hi <%= user.name %>,</p>
      <p>
        We received a request to reset your password. Please enter the following
        code in the password reset page :
      </p>
      <p class="code"><%= code %></p>
      <p>If you did not initiate this request, ignore this mail</p>
      <p>
        Regards,<br />
        Team CouponHub
      </p>
    </div>
  </body>
</html>
